@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --paragraph: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    color: var(--very-light-gray);
    background-color: var(--very-light-gray);
    padding-block: 4rem;
}

.container {
    max-width: 57rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 19rem);
    grid-auto-rows: 30rem;
    border-radius: .4rem;
    overflow: hidden;
    justify-content: center;
}

.car-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    min-height: 65%;
}

.card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.card h2 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.sedan-div {
    background-color: var(--bright-orange);
}

.suvs-div {
    background-color: var(--dark-cyan);
}

.luxury-div {
    background-color: var(--very-dark-cyan);
}

.description {
    font-family: "Lexend Deca", sans-serif;
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: var(--very-light-gray);
    padding: .8rem 2rem;
    border-radius: 2rem;
    font-family: "Lexend Deca", sans-serif;
    border: 2px solid var(--very-light-gray);
    transition: all .3s;
}

.orange-btn {
    color: var(--bright-orange);
}

.dark-cyan-btn {
    color: var(--dark-cyan);
}

.very-dark-cyan-btn {
    color: var(--very-dark-cyan);
}

.btn:hover {
    background-color: transparent;
    color: var(--very-light-gray);
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

@media screen and (max-width: 960px) and (min-width: 657px) {

    .container {
        grid-auto-rows: 20rem;
        grid-template-rows: 30rem;
        max-width: 38rem;
    }

    .luxury-div {
        grid-column: 1 / -1;
        align-items: center;
    }

    .luxury-div > div {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 656px) {
    .container {
        grid-template-rows: none;
        grid-auto-rows: 26rem;
        width: 19rem;
    }

    .car-info {
        min-height: 75%;
    }
}